website/bin
website/obj
website/node_modules
website/vendor
website/public/js
website/public/css
app/bin
app/obj
Laravel/bin
Laravel/obj
Laravel/tests
Laravel/storage
Laravel.Sdk/bin
Laravel.Sdk/obj
Laravel.AspNetCore/bin
Laravel.AspNetCore/obj
Laravel.Tests/bin
Laravel.Tests/obj
Laravel.Tests/vendor
Laravel.Tests/.phpunit.result.cache
.vs
website/mix-manifest.json
